/*! barra */
t-barra {
  height: 1em;
  display: block;
  div {
    height: 100%;
    display: inline-block;
  }
  .posible {
    background: $verde;
  }
  .extra {
    background: darken($blanco, 10%)
  }
}