$negro: #2c3e50;
$blanco: #ffffff;
$rojo: #e74c3c;
$verde: #27ae60;
body {
  font-family: 'Monaco', monospace;
  font-size: 1.4vw;
  background: $blanco;
  color: $negro;
}
table {
  width: 100%;
}
th {
  background: $verde;
  color: $blanco;
  width: 50px;
}
th.imposible {
  background: $rojo;
  color: $blanco;
}
td:last-child {
  width: 50%;
}